.DashboardListItem {
  height: 50px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1px;
  font-weight: 700;

  .listItem::before {
    background: var(--colorBackground);
  }
  &:nth-child(even) {
    .listItem::before {
      background: unset;
    }
  }

  &:hover {
    .listItem,
    .listItem::before,
    .listItem {
      color: var(--colorTextHighlight);
      background: var(--colorHover);
    }

    .button div {
      background: var(--colorTextHighlight);
    }
  }

  .listItem > * {
    z-index: 1;
  }

  .listItem {
    height: 100%;
    background: var(--colorBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
    }
  }

  .number,
  .percentage {
    width: 80px;
  }

  .name {
    flex-grow: 1;
  }

  .button {
    aspect-ratio: 1/1;
  }
}
