.comicListItem {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorHighlight);
  cursor: pointer;

  &:hover,
  &.active {
    background: var(--colorHover);
    color: var(--colorTextHightlight);
  }

  .name {
    flex-grow: 1;
    padding: 5px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cover {
    // padding: 2px 0;
    flex-shrink: 0;
    height: 100%;
    aspect-ratio: 10/16;
    flex-grow: 0;
  }
}
