.Window {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  border-radius: $radius-default;
  overflow: hidden;
  box-shadow: $shadow-default;
  transform: translate3d(0, 0, 0);
  background: var(--modalBackground);
  color: var(--colorText);
  z-index: 10;

  backdrop-filter: $blur-default;
  display: flex;
  flex-direction: column;

  .titleBar {
    width: 100%;
    height: 30px;
    background: var(--colorBackground);
    flex-shrink: 0;
    box-shadow: $shadow-default;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    .movableArea {
      width: 100%;
      height: 100%;
      .title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .buttonArea {
    position: absolute;
    top: 0;
    right: 0;

    button {
      &:first-child {
        border-bottom-left-radius: $radius-default;
      }
    }
  }

  .resizeButtonArea {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .content {
    max-height: calc(100% - 30px);
    flex-grow: 1;
    overflow: auto;
    flex-shrink: 0;
  }
}
