.downloadChapterList {
  flex-grow: 1;
  width: 100%;
  background: var(--colorBackground);
  color: var(--colorText);
  padding: 30px;

  ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
  }
}
