.searchManga {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  max-width: 1000px;

  .content {
    flex-direction: column;
    .input {
      width: 90%;
      margin: 20px;
      height: 50px;
      border: none;
      background-color: $white-transparent;
      border-radius: $radius-default;
      padding: 0 20px;
      font-size: 18px;
      box-shadow: $shadow-default;
      background-image: url("assets/magnifying-glass-search.svg");
      background-repeat: no-repeat;
      background-position: right;
      background-origin: content-box;
      background-size: 30px;
    }

    .result {
      width: 100%;
      max-height: calc(100% - 90px);
      flex-grow: 1;
    }
  }
}
