.UsersListItem {
  width: 150px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  border: 1px solid $white-darker;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  &:hover {
    background: $white-transparent;
  }

  .name {
    background: rgba($white-darker, 0.9);
    color: $black;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    z-index: 2;
    position: relative;
    margin-top: 30px;
  }

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background: $black-transparent;
  }
}
