.HomeNav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: var(--colorBackground);

  .draggableArea {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    -webkit-app-region: drag;
  }

  .groupLeft,
  .groupRight {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;
  }

  .groupLeft {
    .button {
      border-radius: unset;
    }
  }
  .groupRight {
    .button {
      z-index: 3;
    }
  }
}
