.SettingsList {
  width: 200px;
  background: var(--colorBackground);
  flex-shrink: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px 0;
  height: 100%;
  overflow: auto;
}
