.UsersListItem {
  width: 100px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  // border: 1px solid $white-darker;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: var(--colorUserProfile);
  // transition: all $transition-default;

  &:hover {
    // background: $white-transparent;
  }

  .selectButton {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    z-index: 2;
    .name {
      // background: rgba($white-darker, 0.9);
      // color: $black;
      width: 100%;
      text-align: center;
      padding: 5px 0;
      position: absolute;
      bottom: 0;
    }
  }

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    // background: $black-transparent;
  }

  .deleteButton {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    z-index: 1;
    text-align: center;
    padding: 2px;
    opacity: 0;
    // background: rgba($white, 0.7);

    &:hover {
      opacity: 1;
    }
    .deleteImage {
      height: 100%;
      background: red;
    }
  }
}
