.Users {
  width: 600px;
  height: 250px;
  background: var(--colorBackground);
  color: var(--colorText);

  .Content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    overflow: hidden;
  }
}
