.MinimizeItem {
  max-width: 300px;
  min-width: 100px;
  height: 100%;
  background: var(--colorWindowBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  box-shadow: $shadow-default;
  flex-grow: 0;

  &:hover {
    background: var(--colorHighlight);
  }
  p {
    color: var(--colorText);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
