.About {
  width: 500px;
  height: 300px;
  max-width: 1000px;
  background: var(--modalBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .icon {
    width: 30%;
    aspect-ratio: 1/1;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .texts {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    a {
      margin-top: 10px;
    }
  }
}
