.topBar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: var(--colorBackground);

  .groupLeft,
  .groupRight {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .groupLeft {
    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 100%;
    }
  }
  .groupRight {
    .button {
      z-index: 1000;
    }
  }
}
