.topBar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: var(--colorBackground);
  position: relative;

  .draggableArea {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    -webkit-app-region: drag;
  }

  .groupLeft,
  .groupRight {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;
  }

  .groupLeft {
    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 100%;
    }
  }
  .groupRight {
    .button {
      z-index: 1000;
    }
  }
}
