.SettingsPluginListItem {
  display: flex;
  height: 100px;
  background: var(--colorHighlight);
  padding: 0 10px;
  color: var(--colorTextHighlight);
  .textArea {
    gap: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .name {
      font-weight: bold;
    }

    .VersionAuthor {
      display: flex;
      gap: 5px;
      font-size: 15px;
      text-decoration: wavy;
      .version {
      }
      .author {
      }
    }

    .repository {
    }
  }

  .icon {
    flex-shrink: 0;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}
