.topMenu {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  background: var(--colorBackground);
  display: flex;
  justify-content: space-between;

  .groupLeft,
  .groupRight {
    height: 100%;
    .button {
      height: 100%;
    }
  }

  .groupLeft {
    left: 0px;
  }
  .groupRight {
    right: 0px;
  }
}
