.ZoomWindow > * {
  transition: unset !important;
}

.ZoomWindow {
  width: 40vh;
  aspect-ratio: 1/1;
  position: absolute;
  overflow: hidden;
  box-shadow: $shadow-default;
  z-index: 999;
  visibility: hidden;
  transition: unset !important;

  &.visible {
    visibility: unset;
  }

  .zoomedImage {
    position: absolute;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
