.theme-light {
  --colorText: #{$black};
  --colorHighlight: #{$white};
  --colorBackground: #{$white-transparent};
}

.theme-dark {
  --colorText: #{$white};
  --colorHighlight: #{$black};
  --colorBackground: #{$black-transparent};
}
