.ContextMenu {
  position: fixed;
  z-index: 999 !important;
  background: $black-transparent;
  color: $white;
  top: 0;
  transition: opacity 0.1s ease;
  list-style: none;
  border-radius: $radius-default;
  box-shadow: $shadow-default;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  backdrop-filter: $blur-default;

  li {
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid $white-transparent;
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 1rem;

    .icon {
      max-height: 100%;
      width: 20px;
      background: $white;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: $white-transparent;
      color: $black;

      .icon {
        background: $black;
      }
    }
    p {
      flex-grow: 1;
    }
  }
}

.visible {
  visibility: unset;
  opacity: 1;
}
