.main {
  height: 100vh;
  width: 100vw;
  background: url('@/assets/DefaultWallpaper.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
