.light {
  --colorText: #{$black};
  --colorTextHighlight: #{$black};
  --modalBackground: #{rgba($white-darker, 0.7)};
  --colorHighlight: #{$white-transparent};
  --colorHover: #{$white};
  --colorBackground: #{$white-transparent};
}

.dark {
  --colorText: #{$white};
  --colorTextHighlight: #{$black};
  --modalBackground: #{rgba($black-lighter, 0.7)};
  --colorHighlight: #{rgba($white-darker, 0.8)};
  --colorHover: #{$white};
  --colorBackground: #{$black-transparent};
}
