.SettingsPlugin {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .selectArea {
    width: 100%;
    height: 50px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    gap: 10px;

    .select {
      width: 50%;
      background: var(--colorBackground);
      border-radius: $radius-default;
    }
  }
}
