.Reader {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .pages {
    height: 100%;
    display: flex;

    .page {
      flex-shrink: 0;
      height: 100%;
      width: 100%;

      .buttons {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        .btnPrevious,
        .btnNext {
          width: 50%;
          height: 100%;
          background: transparent;
          border: none;
        }
      }

      .Image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
