$bgWhite: rgb(255, 255, 255);
$green: rgba(0, 255, 0, 0.4);
.Button {
  cursor: pointer;
  position: relative;
  overflow: hidden;

  img {
    height: 100%;
  }

  //sizes
  &.size-xxs {
    width: 35px;
  }
  &.size-xs {
    width: 50px;
  }
  &.size-s {
    width: 80px;
  }
  &.size-m {
    width: 100px;
  }
  &.size-l {
    width: 170px;
  }
  &.size-xl {
    width: 200px;
    padding: 20px;
  }

  //Colors

  &.white {
    background: $white-transparent !important;

    &:hover {
      background: $white !important;
    }
  }

  &.black {
    background: $black-transparent !important;

    &:hover {
      background: $black !important;
    }
  }

  &.green {
    background: $green-transparent !important;

    &:hover {
      background: $green !important;
    }
  }

  &.red {
    background: $red-transparent !important;

    &:hover {
      background: $red !important;
    }
  }

  &.blue {
    background: $blue-transparent !important;

    &:hover {
      background: $blue !important;
    }
  }

  &.yellow {
    background: $yellow-transparent !important;

    &:hover {
      background: $yellow !important;
    }
  }

  //Themes
  &.pure {
    border: none;
    background-color: unset;
    aspect-ratio: 1/1;
    padding: 5px;
    border-radius: $radius-default;

    .icon {
      height: 100%;
      width: 100%;
      aspect-ratio: 1/1;
      -webkit-mask-size: contain;
      -webkit-mask-position: center;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-origin: content-box;
      background: var(--colorText);
      opacity: 0.8;
    }

    &:hover {
      background: var(--colorHover);
    }

    &:hover > .icon {
      background: var(--colorTextHightlight);
    }
  }

  &.closeButton {
    $closeButtonDefaultBorder: 1px solid var(--colorBackground);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 7;
    width: 40px;
    height: 30px;
    border: none;
    border-radius: unset;
    border-bottom-left-radius: $radius-default;
    color: var(--colorText);
    background-color: var(--colorBackground);
    &::after {
      content: "X";
    }

    &:hover {
      background-color: $red-transparent;
    }
  }

  &.roundedSquare,
  &.roundedRectangle {
    border: none;
    box-shadow: 5px 5px 9px -7px rgba(0, 0, 0, 0.6);
    background: $white-transparent;
    border-radius: $radius-default;

    img {
      height: 100%;
    }

    &:hover {
      background-color: $white;
    }
  }

  &.roundedSquare {
    padding: 5px;
    aspect-ratio: 1/1;
    object-fit: cover;

    img {
      width: 100%;
    }
  }

  &.roundedRectangle {
    padding: 10px;
    aspect-ratio: unset;
    height: 45px;
    img {
      margin-left: 10px;
      height: 100%;
      // position: absolute;
      background-color: $bgWhite;
      // right: 0;
      padding: 10px;
    }
  }
}
