.HomeDashboardNavBar {
  height: 50px;
  flex-shrink: 0;
  background: var(--colorBackground);
  position: relative;
  display: flex;

  .buttons {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

  .progressBar {
    position: absolute;
    height: 100%;
    width: 100%;

    p {
      font-weight: 300;
    }
  }
}
