.searchComic {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  max-width: 1000px;
  padding-top: 20px;

  .content {
    flex-direction: column;
    .searchInput {
      display: flex;
      width: 90%;
      background-color: var(--colorBackground);
      box-shadow: $shadow-default;
      border-radius: $radius-default;
      padding: 0 20px;
      margin: 20px;
      height: 50px;
      justify-content: center;

      .input {
        border: none;
        background-color: transparent;
        color: var(--colorText);
        font-size: 18px;
        flex-grow: 1;
      }
      .searchIcon {
        width: 30px;
        height: 100%;
        -webkit-mask-image: url("assets/magnifying-glass-search.svg");
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-origin: content-box;
        background-color: var(--colorText);
        opacity: 0.5;
      }
    }

    .result {
      width: 100%;
      max-height: calc(100% - 90px);
      flex-grow: 1;
    }
  }
}
