.Select {
  outline: none;
  margin-right: 1px;
  height: 100%;
  width: 180px;
  border-radius: $radius-default 0 0 $radius-default;

  .Control {
    padding: 0 10px 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    cursor: pointer;

    &:hover {
      background: var(--colorHover);
      color: var(--colorTextHighlight);
    }
  }

  .Menu {
    animation: fade--in $transition-default;
    width: 100%;
    display: flex;
    padding-top: 1px;
    background: var(--colorBackground);
  }
  .MenuList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }
  .Option {
    background: var(--colorBackground);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: var(--colorHover);
      color: var(--colorTextHighlight);
    }
  }

  @keyframes fade--in {
    0% {
      height: 0;
      opacity: 0;
    }

    100% {
      height: auto;
      opacity: 1;
    }
  }

  &,
  * {
    cursor: pointer;
    transition: $transition-default;
  }
}
