.Window {
  position: absolute;
  background-color: $white-transparent;
  min-width: 100px;
  min-height: 100px;
  border-radius: $radius-default;
  overflow: hidden;
  box-shadow: $shadow-default;
  transform: translate3d(0, 0, 0);

  backdrop-filter: $blur-default;
  display: flex;
  flex-direction: column;

  .topBar {
    width: 100%;
    height: 35px;
    background: $white-transparent;
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
