.HomeNav {
  z-index: 2;
  -webkit-app-region: no-drag;

  &.visible {
    ul {
      transform: translateX(0);
      visibility: inherit;
    }
  }

  ul {
    transform: translateX(100%);
    visibility: hidden;
    padding-top: 51px;
    margin-left: auto;
    margin-bottom: auto;
    width: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--colorBackground);
    gap: 2px;
    transition:
      transform $transition-default,
      visibility $transition-default;

    li {
      height: 50px;
      background: var(--colorBackground);
      color: var(--colorText);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        flex-grow: 1;
      }

      .icon {
        background: var(--colorText);
        height: 100%;
        padding: 10px;
        aspect-ratio: 1/1;
        mask-size: contain;
        mask-origin: content-box;
        mask-repeat: no-repeat;
      }

      &:hover {
        background: var(--colorHover);
        color: var(--colorTextHighlight);
      }

      &:hover > .icon {
        background: var(--colorTextHighlight);
      }
    }
  }
}
