.searchComicList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .list {
    width: 100%;
    max-height: calc(100% - 60px);
    overflow: auto;
  }

  .pagination {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 15px;
    height: 60px;
    color: $white;

    .page,
    .previous,
    .next,
    .break,
    .active {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $radius-default;
      height: 35px;
      cursor: pointer;
      box-shadow: $shadow-default;
    }

    .page,
    .break {
      background: $black-transparent;
      aspect-ratio: 1/1;
      &:hover {
        background: $black;
      }
    }

    .previous,
    .next {
      padding: 0 10px;
      color: $black;
    }

    .previous {
      background: $red-transparent;
      &:hover {
        background: $red;
      }
    }

    .next {
      background: $green-transparent;
      &:hover {
        background: $green;
      }
    }

    .active,
    .break {
      color: $black;
      background: $white-transparent;
      font-weight: bold;
      &:hover {
        background: $white;
      }
    }
  }
}
