.DashboardNav {
  height: 70px;
  flex-shrink: 0;
  background: var(--colorBackground);
  position: relative;

  .progressBar {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      z-index: 1;
      font-weight: 500;
    }

    div {
      z-index: 0;
      position: absolute;
      left: 0;
      height: 100%;
      background: $green-transparent;
    }
  }
}
