.searchComic {
  width: 90%;
  height: 90%;
  max-width: 1000px;
  padding-top: 20px;
  background: var(--modalBackground);
  .content {
    flex-direction: column;
    .searchInput {
      display: flex;
      width: 90%;
      box-shadow: $shadow-default;
      margin: 20px;
      height: 50px;
      align-items: center;
      justify-content: center;

      .inputSelect {
        outline: none;
        margin-right: 1px;
        height: 100%;
        width: 180px;
        border-radius: $radius-default 0 0 $radius-default;
        [class$='-control'] {
          padding: 0 10px 0 20px;
          width: 100%;
          height: 100%;
        }

        [class$='-menu'] {
          animation: fade--in $transition-default;
          width: 100%;
          display: flex;
          padding-top: 1px;
          background: var(--colorBackground);
          [class$='-MenuList2'] {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;
            border-radius: 0 0 $radius-default $radius-default;
            [class$='-option'] {
              background: var(--colorBackground);
              width: 100%;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                background: var(--colorHover);
                color: var(--colorTextHighlight);
              }
            }
          }
        }

        @keyframes fade--in {
          0% {
            height: 0;
            opacity: 0;
          }

          100% {
            height: auto;
            opacity: 1;
          }
        }

        &:hover {
          background: var(--colorHover);
          [class$='-control'] {
            color: var(--colorTextHighlight);
          }
        }

        &,
        * {
          cursor: pointer;
          transition: $transition-default;
        }
      }

      .inputText {
        flex-grow: 1;
        padding: 0 20px;
        .inputElement {
          border: none;
          height: 100%;
          width: 100%;
          background: transparent;
          color: var(--colorText);
          font-size: 18px;
        }
      }

      .inputIcon {
        padding-right: 20px;
        border-radius: 0 $radius-default $radius-default;
        .searchIcon {
          width: 30px;
          height: 30px;
          aspect-ratio: 1/1;
          -webkit-mask-image: url('assets/magnifying-glass-search.svg');
          -webkit-mask-size: contain;
          -webkit-mask-position: center;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-origin: content-box;
          background-color: var(--colorText);
          opacity: 0.5;
        }
      }

      .inputBlock {
        background-color: var(--colorBackground);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .result {
      width: 100%;
      max-height: calc(100% - 90px);
      flex-grow: 1;
    }
  }
}
